@font-face {
    font-family: 'Recursive';
    src: url('recursive/RecursiveMonoCslSt-Med.woff2') format('woff2-variations');
}
@font-face {
    font-family: 'MiSans';
    src: url('mi-sans/MiSans-Medium.ttf') format('truetype');
}
